<a href="add-presence"> <i class="bi bi-plus-circle"></i>
    Ajouter 
  </a>
  <div class="container">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">La Liste Des Présences </h2>
      </div>
     
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">nom</th>
              <th scope="col">prénom</th>
              <th scope="col">Entreprise</th>
              <th scope="col">Téléphone</th>
              <th scope="col">Presence</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>