<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <form >
          <h3>Espace pour marquer la présence</h3>
          <div class="form-group">
            <label>Nom</label>
            <input class="form-control" type="text" formControlName="nom" required>
          </div>

          <div class="form-group">
            <label>Prenom</label>
            <input class="form-control" type="text" formControlName="prenom" required>
          </div>
   
          <div class="form-group">
            <label>Entrprise</label>
            <input class="form-control" type="text" formControlName="entreprise" required>
          </div>
          <div class="form-group">
            <label>Téléphone</label>
            <input class="form-control" type="text" formControlName="telephone" required>
          </div>
          <div class="form-group">
            <label>Présence</label>
            <input class="form-control" type="text" formControlName="presence" required>
          </div>
   
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Ajouter</button>
          </div>
        </form>
    </div>
  </div>