<section class="vh-100">
    <div class="container py-5 h-100">

        <div class="card cascading-right" style="
            background: hsla(100, 10%, 62%, 0.55);
            backdrop-filter: blur(30px);">
            
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <h3>Espace Admin</h3>
          <form>
            <!-- Email input -->
            <div class="col-md-6 mb-4">
              <input type="email" id="mail" class="form-control form-control-lg" />
              <label class="form-label" for="mail">Adresse E-mail</label>
            </div>
  
            <!-- Password input -->
            <div class=" col-md-6 mb-4">
              <input type="password" id="mdp" class="form-control form-control-lg" />
              <label class="form-label" for="mdp">Mot de passe</label>
            </div>
  
  
            <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block">Connecter</button>
          </form>
        </div>
      </div>
     </div>
    </div>
  </section>