@import "~bootstrap-icons/font/bootstrap-icons.css";


/**
.bg-image {
    background-image: url('src/assets/Apropos.jpg'); 
    background-position: center center;
    
  }
**/
/**
div {
  background-image: url('assets/Apropos.jpg');
}
**/
/**
p {
    font-size: 1.5em;
    color: #026670;
    background-image: none;
    background-color: transparent;
  }
  
  div {
    background-image: url("src/assets/Apropos.jpg");
    background-position: center center;
  }
  **/

